@implements IDisposable

@if (string.IsNullOrEmpty(AppState.Message))
{
    <p style="opacity: 50%;">You have not set a message yet</p>
}
else
{
    <p>@AppState.Message</p>
}

@code {
    [Inject] AppState AppState { get; set; }

    protected override void OnInitialized()
    {
        AppState.OnMessageChanged += StateHasChanged;
    }
    
    public void Dispose()
    {
        AppState.OnMessageChanged -= StateHasChanged;
    }
}
