<div style="border: 0.2em solid red; margin: 1em;">
    <p>Parent: @parentMessage</p>
    <form @onsubmit=SetMessageFromParent style="width: fit-content; margin: 1em auto;">
        <fieldset>
            <legend align="center">Set Message from Parent</legend>
            <div style="display: flex; flex-direction: column;">
                <input type="text" @bind=input />
                <button type="submit" style="margin-top: 1em;">Set Message from Parent</button>
            </div>
        </fieldset>
    </form>
    <ChildBind @bind-ChildMessage=parentMessage />
</div>

@code {
    private string parentMessage = "";
    private string input = "";

    private void SetMessageFromParent()
    {
        parentMessage = input;
        input = "";
    }
}
